{% extends 'base.html' %}
{% block content %}
<div class="home-screen">
    <div class="selections">
        <form method="post" class="create">
            <h3>Create Scrum Poker Room</h3>
            <label>Name:</label>
            <input type="text" placeholder="Pick a room name!" name="room_name" value="{{ room_name }}"/>
            <label for="cards">Choose card set:</label>
            <select name="cards" id="cards">
                <option value="fib">1, 2, 3, 5, 8, 13, 21, 40, 100</option>
                <option value="powtwo">1, 2, 4, 8, 16, 32, 64, 128</option>
                <option value="others">1, 2, 5, 10, 20, 50, 100</option>
            </select>
            <button type="submit" name="create" class="create_btn">Create Room</button>
        </form>
        <form method="post" class="join">
            <h3>Join a room</h3>
            <label>Name:</label>
            <input type="text" placeholder="Pick a display name!" name="display_name" value="{{ display_name }}"/>
            <label>Room Code:</label>
            <input type="text" placeholder="Enter room code" name="room_code" value="{{ room_code }}"/>
            <button type="submit" name="join" class="join_btn">Join Room</button>
        </form>
    </div>
    {% if error %}
    <ul>
        <li>{{ error }}</li>
    </ul>
    {% endif %}

</div>
{% endblock %}
