{% extends 'base.html' %}
{% block content %}
    <div class="room">
        <div class="title">
            <h2>Chat Room: {{ room_name }}</h2>
            <h3>{{ room_code }}</h3>
            <button type="button" name="show_url" id="show_url_btn" onclick="showUrl()">Show Link</button>
            <a hidden="hidden" id="url" href="{{ request.host_url + 'join_room?room=' + room_code }}">{{ request.host_url + 'join_room?room=' + room_code }}</a>
            <img hidden="hidden" id="qr_code" alt="qr_code" width="300" src="{{ qrcode(request.host_url + 'join_room?room=' + room_code, border=3) }}"/>
        </div>
        <form>
            {% for card in cards %}
                <input type="radio" name="card_input" id={{ card }} value="{{ card }}">
                <label for={{ card }}>{{ card }}</label>
            {% endfor %}
        </form>
        <button type="button" name="send" id="send_btn" onclick="sendMessage()">Send</button>
        <div class="messages" id="messages"></div>
    </div>

    <script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")

    const joinMessage = (name, action) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: has ${action} the room
            </span>
        </div>
        `;

        messages.innerHTML += content
    };

    socketio.on("message", (data) => {
        joinMessage(data.name, data.action);
    });

    const sendMessage = () => {
        console.log('send')
    }

    const showUrl = () => {
        const url = document.getElementById("url")
        const qrCode = document.getElementById("qr_code")
        const urlButton = document.getElementById("show_url_btn")

        if (url.hidden)
            urlButton.innerText = "Hide Link"
        else
            urlButton.innerText = "Show Link"

        url.hidden = !url.hidden
        qrCode.hidden = !qrCode.hidden
    }
    </script>
{% endblock %}
